<md-dialog aria-label="Cliente" class="_md-transition-in" flex-xs="100" flex="60">
	<form name="formDetalle" ng-submit="formDetalle.$valid && ctrl.guardar()" novalidate>
	    <md-toolbar>
	      <div class="md-toolbar-tools">
	        <span flex="100">Producto</span>
	      </div>
	    </md-toolbar>

	    <md-dialog-content class="md-dialog-content md-padding" >
	    	
          <div layout="row" layout-xs="column">
            <md-input-container class="md-block" flex>
              <label>Nombre</label>
              <input type="text" ng-model="ctrl.one.nombre" required >
            </md-input-container>
          </div>

          <div layout="row" layout-xs="column">
            <md-input-container >
              <label>Código</label>
              <input type="text" ng-model="ctrl.one.codigo" required >
            </md-input-container>
            
            <md-input-container >
              <label>CATEGORIA</label>
                <md-select ng-model="ctrl.one.id_categoria">
                  <md-option value="00000000000000000000000000000000" >PRINCIPAL</md-option>
                  <md-option ng-repeat="elemento in ctrl.listaCategorias" value="{{elemento.id}}" >
                      {{elemento.nombre}}
                  </md-option>
                </md-select>
            </md-input-container>

            <md-input-container >
              <label>UNIDAD</label>
                <md-select ng-model="ctrl.one.id_unidad">
                  <md-option ng-repeat="elemento in ctrl.listaUnidades" value="{{elemento.id}}" >
                      {{elemento.nombre}}
                  </md-option>
                </md-select>
            </md-input-container>

            <md-input-container class="md-block"  flex-xs="100">
               <input formato-numerico class="align-right"  ng-model="ctrl.one.cantidad_empaque" type="text" placeholder="Cantidad Empaque">
            </md-input-container>

            <md-input-container class="md-block"  flex-xs="100">
               <input formato-numerico class="align-right"  ng-model="ctrl.one.existencia" type="text" placeholder="Existencia">
            </md-input-container>
          </div>


          <div layout="row" layout-xs="column">
            <md-input-container class="md-block" flex-xs="100" >
              <label>Moneda</label>
              <md-select ng-model="$parent.id_moneda" class="md-no-underline" ng-change="ctrl.seleccionaCotizacion()">
                <md-option ng-repeat="item in ctrl.listaCotizacion" value="{{item.id_moneda}}" >
                  {{item.moneda_descrip}}
                </md-option>
              </md-select>
            </md-input-container>

            <md-input-container class="md-block" flex="25" flex-xs="100" >
               <input ng-model="ctrl.one.costo_moneda" type="text" formato-numerico class="align-right" placeholder="Costo" 
                  ng-change="ctrl.calcularPrecio()">
            </md-input-container>

            <md-input-container class="md-block" flex="25" flex-xs="100">
               <input ng-model="ctrl.one.pct_util" type="text" formato-numerico class="align-right" placeholder="% Utilidad"
                  ng-change="ctrl.calcularPrecio()">
            </md-input-container>

            <md-input-container class="md-block">
              <label>Impuesto</label>
                <md-select ng-model="ctrl.one.id_impuesto" ng-change="ctrl.getSelectedIVA()">
                  <md-option ng-repeat="elemento in ctrl.listaImpuestos" value="{{elemento.id}}" >
                      {{elemento.valor_display}}
                  </md-option>
                </md-select>
            </md-input-container>

            <md-input-container class="md-block" flex="25" flex-xs="100" >
               <input ng-model="ctrl.one.precio_moneda" type="text" formato-numerico class="align-right" placeholder="Precio" 
                  ng-change="ctrl.calcularPctUtil()">
            </md-input-container>                    

          </div>

          <div layout="row" layout-xs="column">
            <div>
                <input  id="inputImage" type="file" accept="image/*" image="image1" 
                    resize-max-height="300" resize-max-width="300" 
                  resize-quality="0.7" resize-type="image/jpg" /> 
                  
                <img ng-src="{{image1.compressed.dataURL}}" /> 

                <md-input-container  class="md-block" flex="25" flex-xs="100">
                  <md-checkbox ng-model="ctrl.one.es_visible_web" aria-label="inactivo">Mostrar en la web</md-checkbox>
                </md-input-container>
            </div>
          </div>

          <div layout="row" layout-xs="column" ng-show="ctrl.one.es_visible_web">
            <md-input-container class="md-block" flex>
              <label>Nombre Web</label>
              <input type="text" ng-model="ctrl.one.nombre_web" >
            </md-input-container>
          </div>

          <div layout="row" layout-xs="column" ng-show="ctrl.one.es_visible_web">
            <md-input-container class="md-block" flex>
              <label>Descripción Web</label>
              <textarea ng-model="ctrl.one.descripcion_web" md-maxlength="255" rows="3" md-select-on-focus></textarea>
            </md-input-container>
          </div>




	    </md-dialog-content>

	    <md-dialog-actions layout="row">
			<md-button type="button" class="md-raised" ng-click="ctrl.cancel()">Cancelar</md-button> 
			<md-button type="submit" class="md-raised md-primary"  ng-disabled="!formDetalle.$valid || !ctrl.full">Guardar</md-button>  
	    </md-dialog-actions>
	</form>
</md-dialog>